<div class="productos" ng-show="verProductos">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <h1>{{tituloFormulario}}</h1>
          <form class="form-group">
            <div class="form-group">
              <label for="nombre">Nombre del cliente</label>
              <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="cuadroNombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido del cliente</label>
              <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)]="cuadroApellido">
            </div>
            <div class="form-group">
              <label for="direccion">Dirección del cliente</label>
              <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="cuadroDireccion">
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono del cliente</label>
              <input type="tel" class="form-control" name="telefono" id="telefono" [(ngModel)]="cuadroTelefono">
            </div>
            <div class="form-group">
              <label for="email">Email del cliente</label>
              <input type="email" class="form-control" name="email" id="email" [(ngModel)]="cuadroEmail">
            </div>
            <button class="btn btn-primary" type="submit" (click)="agregarCliente()">Crear</button>
          </form>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <h1>{{tituloTabla}}</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes; let i=index">
                <td scope="row">{{i+1}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
